* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}
/*nav*/
.navbar {display: flex;
justify-content: right;
background-color: rgba(211, 212, 206, 0.5);
top: 0;
}
.navbar ul{ display: flex;
    list-style: none;
    margin: 20px 10px;
}

.navbar ul li{font-family:century ;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{ 
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
    }

.navbar ul li a:hover{ background-color: rgb(201, 182, 182);
    color: black;
    box-shadow: 0 0 10px rgb(158, 165, 128)
}
/*body*/
.container{margin: 8px ;
    margin-top: 6%;
    padding-left: 20%;
    overflow: hidden;

}

.container h1{ font-size: 50px;
    color: #898d69;
    margin:20px;
    padding-left: 50%;
}


span{color:rgb(169, 174, 145);
    font-size: 300%;
font-family:fancy;
font-style: italic;}

.container p{color: rgb(245, 245, 209);
    line-height: 30px;
    padding-left: 50%;
    font-size: 150%;}



body{background-image: url(Cover\ \(2\).png);
background-repeat: no-repeat;
background-position: center;
}


/*footer*/
.footer{margin: 40px;
margin-top: 1%;
display: flex;
padding-left: 50%;
}

.footer ul{display: flex;
list-style: none;
margin: 20px 0px;}


.footer ul li{ margin: 10px; }
.footer ul li a{background-color: rgb(102, 99, 82);
    padding: 8px 25px;
    transition: all .5s ease;}

.footer ul li a:hover{background-color: rgb(201, 182, 182);
    color: black;
    box-shadow: 0 0 10px rgb(21, 18, 18)}

/*media*/

/*mobile*/

@media screen and (max-width:768px){

body{ 
    background-color: rgb(26, 22, 22);
    background-image: url(Cover\ \(2\).png);
    background-size: 100% 70%;}
  

.container {
   display: flex;
   flex-direction: column;
   height: fit-content;
}

.container h1 {
    font-size: 30px;
    color: #898d69;
    margin: 20px;
    padding-left: 70px;
    line-height: 50px;
}


.container p {
    color: rgb(245, 245, 209);
    line-height: 20px;
    font-size: 20px;
    padding-top: 20px;
  
}


/*footer*/
footer {
    margin: 40px;
    margin-top: 1%;
    display: flex;
    padding-left: 0;
}

.footer ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
    position: absolute;
    left: 25%;
    bottom: 0;
}


.footer ul li {
    margin: 10px;
    
}

.footer ul li a {
    background-color: rgb(189, 155, 18);
    padding: 4px 18px;
    transition: all .5s ease;
}

.footer ul li a:hover {
    background-color: rgb(201, 182, 182);
    color: black;
    box-shadow: 0 0 10px rgb(21, 18, 18)

}
}